<div class="news">
  <h2>news <span>[<a class="news-link" href="{{ '/news-archive/' | relative_url }}">archive</a>]</span></h2>
  {% if site.news != blank -%} 
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {%- assign news = site.news | reverse -%} 
      {% for item in news limit: site.news_limit %}
        {% if item.hide == false %}
          <tr>
            <th scope="row">{{ item.date | date: "%-d %b %Y" }}</th>
            <td>
              {% if item.inline -%} 
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {%- else -%} 
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {%- endif %} 
            </td>
          </tr>
        {% endif %}
      {%- endfor %} 
      </table>
    </div>
  {%- else -%} 
    <p>No news so far...</p>
  {%- endif %} 
</div>
